body {
    background: #F3EAD3;
}

body > * {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: auto;
    word-wrap: break-word;
    word-break: break-word;
    scrollbar-width: thin;
    scrollbar-color: #8DA101 #E5DFC5;
    color: #5C6A72;
}

#inp, #out {
    width: 50%;
    padding: .5rem;
}

#inp {
    left: 0;
    font-family: monospace;
}

#out {
    right: 0;
    font-family: sans-serif;
}

#sep {
    left: 50%;
    width: .09rem;
    background: #E5DFC5;
}

hr {
    border-collapse: collapse;
    border-color: #E5DFC5;
    border-style: solid;
}

:focus {
    outline: none;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #333C43;
    }

    body > * {
        scrollbar-color: #A7C080 #293136;
        color: #D3C6AA;
    }

    #sep {
        background: #434F55;
    }

    hr {
        border-color: #434F55;
    }

}

@media screen and (max-width: 600px) {
    body > * {
        width: 100% !important;
    }

    #inp, #out {
        height: 50%;
    }

    #out, #sep {
        top: 50%;
        left: 0;
    }

    #sep {
        height: .09rem;
    }
}

@media print {
    #inp, #sep {
        display: none;
    }
    #out {
        position: static;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: unset;
        color: #000;
    }
}